# Copy this file to `config.toml` and fill in
# the fields. You'll have to complete the steps
# in the README.md for some values.

# How often to download the board content in seconds.
interval = 300
timezone = 'US/Pacific'  # Timezone to use for formatting dates

# If true will use fake content and not connect to a MUCK. Useful for testing.
fake_muck = false


[muck]
host = 'muck.spindizzy.org'
port = 7073
ssl = true
character = 'YOUR_CHARACTER_NAME'
password = 'YOUR_PASSWORD'
# Update with the commands you've set on the MUCK
get_posts_command = 'process_posts'
get_name_command = 'getname'
# A list of ['board_read_command', 'Board Name'] tuples.
boards = [['+read', 'General Board'],
          ['cread', 'Commands Board'],
          ['rpread', 'Role-Playing Board']]


[web]
url_base = "https://your_url_to_the_app.com"  # Used to make urls in twitter links.
port = 7000  # Port the webserver should bind to.
# `feed_domain` is used exclusively to make atom/rss feed ids and can be ignored
# if you don't care about that feature. This should be either a domain or an email.
feed_domain = 'spindizzy.org'


[twitter]
enabled = false  # Whether or not to advertise changes to twitter
consumer_key = 'TWITTER_CONSUMER_KEY',
consumer_secret = 'TWITTER_CONSUMER_SECRET',
access_token_key = 'TWITTER_ACCESS_TOKEN',
access_token_secret = 'TWITTER_ACCESS_TOKE_SECRET'


[mastodon]  # Unimplemented
enabled = false
