{% extends "html.jinja2" %}

{% block title %} <a href="https://www.spindizzy.org/nwp/">SpinDizzy</a> Board List {% endblock %}
{% block head %}
<link rel="alternate" type="application/atom+xml" title="SpinDizzy Boards Master" href="atom" />
{% endblock head %}

{% block body %}
<ul class="board-list">
{% for board in boards %}
    <li>
        <a href="{{board}}">{{board_names[board]}}</a>
    </li>
{% endfor %}
</ul>
{% endblock %}
