<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>SpinDizzy Boards: {% block title %}{% endblock %}</title>
        <style>
            @import url("https://fonts.googleapis.com/css?family=Inconsolata");
            @import url("https://overpass-30e2.kxcdn.com/overpass-mono.css");
            body {
                background-color: black;
                font-family:  'DejaVu Sans Mono', 'overpass-mono', Inconsolata, monospace;
                height:100%;
                padding: 20px;
                color: #abb2bf;
            }
            a:link {
              color: #56b6c2;
            }
            a:visited {
              color: #c678dd;
            }
            .hyena-color {
              color: #d2b48cff;
            }
            .foxthingfox-color {
              color: white;
            }

            ul.board-list {
              display: flex;
              flex-flow: column;
              flex-wrap: wrap;
            }
            ul.board-list > li {
              font-size: 1.4em;
              margin: 3px;
            }
            ol.post-list > li {
              font-size: 1.2em;
              margin: 2px;
            }
            #content {
              font-size:1.4em;
            }
            #footer {
              display: flex;
              flex-flow: column;
              justify-content: space-around;
              align-items: center;
            }
            #logo {
              width: 3em;
              height: auto;
              margin-left: 15px;
            }
        </style>
        {% endblock head %}
    </head>
    <body>
        <h1>{{ self.title() }}</h1>
        {% block body %}{% endblock %}
    </body>
</html>
