<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <title>SpinDizzy Boards: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css">
        {% endblock head %}
    </head>
    <body>
        <div class="content">
            {% block breadcrumb %}{% endblock %}
            <h1>{{ self.title() }}</h1>
            {% block body %}{% endblock %}
        </div>
        <div class="footer">
            {% block footer %}
            <div>
                Direct feedback to
                <span class="author"><img class="foxthingfox" src="/static/kandra.png"><span class="foxthingfox-color">Kandra</span></span>
                and <span class="author"><img class="hyena" src="/static/regan.svg"><span class="hyena-color">Regan Schwarzwald</span></span> or on the <a href="https://github.com/hyena/spindizzy_boards">github project</a>.</div>
            {% endblock footer %}
        </div>
    </body>
</html>
