{% extends "html.jinja2" %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">SpinDizzy Boards</a></li>
  <li>{{ board_name }}</li>
</ul>
{% endblock breadcrumb %}

{% block title %} Posts on {{ board_name }} ({{ board }}){% endblock %}

{% block body %}
<ol class="post-list">
{% for post in posts %}
    <li>
        <a href="{{ board }}/{{ post.id }}">{{ post.title }}</a>
        <strong>posted by</strong>
        {{ post.author_name }}
        <strong>at</strong>
        {{ post.humantime }}
    </li> 
{% endfor %}
</ol>
{% endblock %}
