{% extends "html.jinja2" %}

{% block title %} {{ post.title }} ~ {{ post.author_name }} {% endblock %}

{% block body %}
<p><strong>From:</strong> {{ post.author_name }}</p>
<p><strong>Date:</strong> {{ post.humantime }}</p>
<hr />

{% for line in post.content.split('\n') %}
    <p>{{ line }}</p>
{% endfor %}
{% endblock %}
