{% extends "html.jinja2" %}

{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">SpinDizzy Boards</a></li>
  <li><a href="/{{ board }}">{{ board_name }}</a></li>
  <li>{{ post_index }}. {{ post.title }}</li>
</ul>
{% endblock breadcrumb %}

{% block title %} {{ post.title }} ~ {{ post.author_name }} {% endblock %}

{% block body %}
<p><strong>From:</strong> {{ post.author_name }}</p>
<p><strong>Date:</strong> {{ post.humantime }}</p>
<hr />

{% for line in post.content.split('\n') %}
    <p class="post-body">{{ line }}</p>
{% endfor %}

<span class="prevnext">
  <span class="prev">
  {% if prev_post %}
    « <a href="{{ prev_post.id }}">Prev: {{ post_index - 1 }}. {{ prev_post.title }}</a>
  {% endif %}
  </span>
  <span class="next">
  {% if next_post %}
    <a href="{{ next_post.id }}"> Next: {{ post_index + 1 }}. {{ next_post.title }}</a> »
  {% endif %}
  </span>
</span>
{% endblock %}
