@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://overpass-30e2.kxcdn.com/overpass-mono.css");
body {
    background-color: black;
    font-family:  'DejaVu Sans Mono', Inconsolata, 'overpass-mono', monospace;
    height:100%;
    padding: 20px;
    color: #abb2bf;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}
a:link {
    color: #56b6c2;
}
a:visited {
    color: #c678dd;
}
.hyena-color {
    color: #d2b48c;
}
.foxthingfox-color {
    color: white;
}

ul.breadcrumb {
    padding: 8px 16px;
}
ul.breadcrumb li {
    display: inline;
    font-size: 1em
}
ul.breadcrumb li+li:before {
    padding: 8px;
    content: "/\00a0";
}

ul.board-list {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}
ul.board-list > li {
    font-size: 1.4em;
    margin: 3px;
}
ol.post-list > li {
    font-size: 1.2em;
    margin: 2px;
}

span.prevnext {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
}
.content {
    flex: 1 0 auto;
}
.footer {
    margin-top: 50px;
    font-size: 0.9em;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
#logo {
    width: 3em;
    height: auto;
    margin-left: 15px;
}
span.author {
    vertical-align: bottom;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
}
span.author > img.foxthingfox {
    width: 4em;
}
span.author > img.hyena {
    width: 7em;
}